<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Edit Blog</h1>
    <form action="/edit/<%= blog._id %>" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Blog Title</label>
        <input type="text" class="form-control" name="title" id="title" value="<%= blog.title %>" required>
      </div>
      <div class="form-group mt-3">
        <label for="content">Blog Content</label>
        <textarea class="form-control" name="content" id="content" rows="6" required><%= blog.content %></textarea>
      </div>
      <div class="form-group mt-3">
        <label for="image">Blog Image</label>
        <input type="file" class="form-control-file" name="image" id="image">
        <% if (blog.image) { %>
          <div class="mt-2">
            <img src="<%= blog.image %>" alt="Blog Image" class="img-thumbnail" style="width: 200px;">
          </div>
        <% } %>
      </div>
      <button type="submit" class="btn btn-success mt-4">Update Blog</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
